body {
    position: relative;
}

a {
    text-decoration: none;
}

p {
    margin: 5px;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    background-color: aqua;
}

.search-form input {
    border-radius: 8px;
}

.search-form button {
    border-radius: 8px;
    outline: none;
}

.gallery {

    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.up-link {
    opacity: 70%;
    position: fixed;
    bottom: 10%;
    right: 3%;
    color: red;
}

.photo-card {
    display: flex;
    justify-content: center;
    align-items: center;
}